.product-card-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    height: 360px;
    align-items: center;
    position: relative;
    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
      margin-bottom: 5px;
      border: 1px solid black;
      
    }
  
    button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px;
      display: none;
    }
  
    &:hover {
      img {
        opacity: 0.8;
      }
  
      button {
        opacity: 0.85;
        display: flex;
      }
    }
  
    .footer {
      width: 100%;
      height: 6%;
      //font-weight:549;
      display: flex;
      margin-top: 3px;
      justify-content:space-between;
      font-size: 18px;
      font-weight: 550;
      position: relative;
      //background-color: rgb(5, 245, 237);
      background: linear-gradient(to bottom right, #06bef7, #e1f507);
      animation: pulse 2s infinite alternate; /* Pulsating animation */

@keyframes pulse {
    0% {
        background: linear-gradient(to bottom right, #06bef7, #e1f507);
    }
    100% {
      
        background: linear-gradient(to bottom right, #e1f507, #06bef7);
    }
}
      border:1px solid black;
  
      .name {
        width: 90%;
        margin-bottom: 15px;

      }
  
      .price {
        width: 10%;
      }
    }
  }